<div class="w3-section w3-card-4 w3-serif" style=" margin:auto">
  <header class="w3-container w3-blue">
    <div class="w3-center"> Social Class Values </div>
  </header>

  <table class="table table-striped w-auto" id="class-values">
    <thead>
      <tr>
        <th style="width:30%">Name</th>
        <th style=" width:15%">Consumption</th>
        <th style=" width:15%">Money</th>
        <th style=" width:15%">Sales</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the classes -->
      {{range .classViews }}

      <tr>
        <td style="text-align:left"><a href="/class/{{.Id}}">{{ .Name }}</a></td>
        {{ .ConsumptionStockValue.DisplayRounded }}
        {{ .MoneyStockValue.DisplayRounded }}
        {{ .SalesStockValue.DisplayRounded }}
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

