<div class="w3-section w3-card-4 w3-serif" style="width:fit-content; margin:auto">
  <header class="w3-container w3-blue">
    <h3 class="w3-center"> Commodities </h3>
  </header>

  <table class="table table-striped w-auto" id="commodities">
    <thead>
      <tr>
        <th>Name</th>
        <th style="text-align:center">Origin </th>
        <th style="text-align:center">Usage </th>
        <th>Size </th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the commodities  -->
      {{range .commodities }}

      <tr>
        <td style="text-align:left"><a href="/commodity/{{.Id}}">{{ .Name }}</a></td>
        <td style="text-align:center">{{.Origin}}
        </td>
        <td style="text-align:center">{{.Usage}}  
        </td>
        <td style="text-align:right">{{ .Display_Size }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
<script>
  new DataTable('#commodities', {
    info: false,
    paging: false,
    filter: false,
    columns: [
      null,
      null,
      null,
      { orderable: false },
      { orderable: false },
      { orderable: false },
      { orderable: false },
      { orderable: false },
      { orderable: false },
      { orderable: false },
      { orderable: false },
      { orderable: false }
    ]
  });
</script>