<div class="w3-section w3-card-4 w3-serif" >
  <header class="w3-container w3-blue">
    <h4 class="w3-center"> Use Values </h4>
  </header>

  <table >
    <thead>
      <tr>
        <th style="width:30%">Name</th>
        <th style="text-align:center; width:15%">C</th>
        <th style="text-align:center;width:15%">V</th>
        <th style="text-align:center;width:15%">M</th>
        <th style="text-align:center;width:15%">C'(Sales)</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the industries -->
      {{range .industryViews }}

      <tr>
        <td style="text-align: left"><a href="/industry/{{.Id}}">{{ .Name }}</a></td>
        {{ .ConstantCapital.DisplayRounded }}
        {{ .VariableCapital.DisplayRounded}}
        {{ .MoneyStock.DisplayRounded}}
        {{ .SalesStock.DisplayRounded}}
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

