<div class="w3-section w3-card-4 w3-serif">
  <header class="w3-container w3-blue">
    <h4 class="w3-center"> Prices </h4>
  </header>

  <table>
    <thead>
      <tr>
        <th style="width:15%">Name</th>
        <th style="text-align:center; width:10%">C</th>
        <th style="text-align:center;width:10%">V</th>
        <th style="text-align:center;width:10%">M</th>
        <th style="text-align:center;width:10%">C'</th>
        <th style="text-align:center;width:15%">Initial Capital</th>
        <th style="text-align:center;width:15%">Current Capital</th>
        <th style="text-align:center;width:15%">Profit</th>
        <th style="text-align:center;width:15%">Profit Rate</th>
      </tr>
    </thead>
    <tbody>
      <!--Loop over the industries -->
      {{range .industryViews }}

      <tr>
        <td style="text-align: left"><a href="/industry/{{.Id}}">{{ .Name }}</a></td>
        {{ .ConstantCapitalPrice.DisplayRounded }}
        {{ .VariableCapitalPrice.DisplayRounded}}
        {{ .MoneyStockPrice.DisplayRounded}}
        {{ .SalesStockPrice.DisplayRounded}}
        {{ .Initial_Capital.DisplayRounded}}
        {{ .Current_Capital.DisplayRounded}}
        {{ .Profit.DisplayRounded}}
        {{ .Profit_Rate.DisplayRounded}}
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

